PORT=8003
MONGODB_URI=
GROQ_API_KEY=
GOOGLE_API_KEY=
AUTH_SERVICE_URL="http://localhost:8001"
CHAT_SERVICE_URL="http://localhost:8002"
REDIS_URL="redis://localhost:6379"
TAVILY_API_KEY=
OPENROUTER_API_KEY=
QDRANT_API_KEY=
QDRANT_URL=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
